body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background: rgb(232, 228, 228);
  }
/* -----------------------navbar-------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(7, 7, 7);
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
  }
  nav img {
    width: 100px;
    height: 100px;
  }
  nav .navbar-center {
    display: flex;
  }
  nav .navbar-center input {
    width: 40rem;
    height: 2rem;
    border-radius: 20px 0 0 20px;
    border: 2px solid orangered;
    outline: none;
  }
  nav .navbar-center button {
    border-radius: 0 20px 20px 0;
    width: 5rem;
    border: 2px solid orangered;
    background-color: orangered;
    color: white;
  }
  .navbar-right button{
    margin-right: 50px;
    padding: 10px;
    background-color: red;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
  /* --------------------product-card-------------------- */
  .product-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    margin-top: 10%;
  }
  .product-container img {
    width: 16rem;
    height: 16rem;
  }
  .product-container label {
    margin: 1rem 0 0 3rem;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
  }
  .card-container {
    display: flex;
    margin: 4% 2% ;
    overflow-y: hidden;
  }
  .card{
    margin: 1%;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
  }
/* -------------------product-detail--------------------- */

/* ----------------------payment---------------------- */
#payment-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: rgb(52, 35, 35);
}
section{
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.own-cvv{
  display: flex;
  /* margin: 10px; */
}
.owner, .cvv, #card-number{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.card-pay{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-pay img{
  height: 50px;
  justify-content: center;
}
.expired {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
header{
  background: green;
  padding: 8px;
  width:30%;
  text-align: center;
}
#confirm{
  padding: 10px;
  margin: 10px;
  background-color: green;
  border: none;
  border-radius: 10px;
  color: white;
}