.product-container{
    display: flex;
    flex-direction: column;
    img{
        width: 14rem;
        height: 14rem;
    }
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
        padding: 10px;
        .card{
            margin: 1rem;
            background: white;
            padding: 1rem;
        }
        .material-icons{
            font-size: 100px;
            color: gray;
            cursor: pointer;
        }
    }
    label{
        margin: 3rem 0 0 6rem;
        font-size: 30px;
        font-weight: bold;
    }
    span{
        font-size: 30px;
        font-weight: bold;
    }
}