form{
    display: flex;
    padding: 10px;
    margin: 3rem;
    background: #000;
    opacity: 0.5;
    margin: 10rem 30px 0 30px;
    select{
        padding: 10px;
        margin: 20px;
        width: 25%;
    }
    button{
        padding: 10px;
        margin: 20px;
        width: 10%;
        background-color: red;
        border: none;
    }
}
